<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page avec trois blocs</title>
    <link rel="stylesheet" href="../public/essai.css">
</head>
<body>
        <div id="container1">
            <div class="entete">
                <div class="image">
                    <img src="../public/img/OIP__2_-removebg-preview.png" alt="" id="image">
                    <div class="container2">
                        <div class="entete2">
                            <h5>Nom: NGAYE-YANKOISSET</h5>
                            <h5>Prenom: Pinhas Paguel</h5>
                        </div>
                        <div class="entete3">
                            <p>Filiere: GLRSA</p>
                        </div>
                        <div class="entete4">
                            <p>Annee Scolaire: 2023-2024</p>
                        </div>
                    </div>
                </div>
                <div class="theme">
                    <h1>Gestion des inscriptions</h1>
                </div>
            </div>
        </div>
        <div class="container4">
            <div class="tableau">
                <fieldset>
                    <legend>Mes Demandes</legend>
                    <div class="bloc4">
                        <label for="Etat" class="eta">Etat: </label>
                        <select>
                            <option value=""></option>
                            <option value="">Date</option>
                            <option value="">Type</option>
                            <option value="">Etat</option>
                            <option value="">Action</option>
                        </select>
                        <input type="button" value="ok">
                    </div>
                    <div class="button2">
                        <a href="#"><input type="button" value="Add new " id="button1"></a>
                    </div>
                    <table>
                        <thead>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Etat</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>10/12/2023</td>
                                <td>Suspension</td>
                                <td>Accepter</td>
                                <td><a href="#">Details de la demande</a></td>
                            </tr>
                            <tr>
                                <td>12/10/2023</td>
                                <td>Annulation</td>
                                <td>Rejeter</td>
                                <td><a href="#">Details de la demande</a></td>
                            </tr>
                            <tr>
                                <td>01/05/2022</td>
                                <td>Validation</td>
                                <td>Encours</td>
                                <td><a href="#">Details de la demande</a></td>
                            </tr>
                            <tr>
                                <td>05/12/2022</td>
                                <td>Validation</td>
                                <td>Accepter</td>
                                <td><a href="#">Details de la demande</a></td>
                            </tr>
                            <tr>
                                <td>01/01/2022</td>
                                <td>Suspension</td>
                                <td>Rejeter</td>
                                <td><a href="#">Details de la demande</a></td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            </div>
        </div>
        <div id="footer">
            <div id="image-container">
                <div class="image1">
                    <a href="#"><img src="../public/img/OIP__1_-removebg-preview (1).png" alt="Maison"></a>
                </div>
                <div class="image2">
                    <a href="#"><img src="../public/img/OIP-removebg-preview (1).png" alt="Enveloppe"></a>
                </div>
                <div class="image3">
                    <a href="#"><img src="../public/img/th-removebg-preview (2).png" alt="Dossier Bleu"></a>
                </div>
                <div class="image4"> 
                    <a href="#"><img src="../public/img/OIP__2_-removebg-preview.png" alt="Icône User"></a>
                </div>
            </div>
        </div>
</body>
</html>
